#nav {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
}

#nav li {
    float: right; 
}

#nav li a {
        display: block;
        padding: 30px 50px;
        text-decoration: none;
        font-weight: 400;
        font-size: 24px;
        color: #ADD8E6;
}