#logo { 
  float: left;
  display: inline-block;
  padding: 25px 25px 25px 25px;
  width: 5%;
  height: 5%;
}

.clear {
  clear: both;
}


#nav {
    color: white;
    width: 100%;

}
.nav {
  float: right;
  list-style: none;   
    text-align: left;
  margin: 0;
}
.nav > li {                                          
    display:Inline-block;
    padding: 30px 50px;       
}

 .nav > li a {                                               
    padding: 20px 20px;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    color: #ADD8E6;
 }

 .nav > li > a:hover {
     color: black;
 }

